html, body {
	height: 100%;
	font-family: Helvetica, sans-serif;
	min-height: 686px;
}

#container {
	min-width: 980px;
}

#col1, #col2 {
	float: left;
	width: 225px;
	height: 100%;

}

#col3 {
	margin-left: 450;
	padding: 0 20px;
	color: rgb(102, 102, 102);
}

#col1 {
	background-color: rgb(51,59,70);
	color: rgb(184,187,191);
}

#col2 {
	background-color: rgb(68,124,172);
	color: white;
}

#naslov1 {
	height: 60px;
	line-height: 60px;
	border-bottom: 2px solid rgb(40, 46, 56);
	padding-left: 54px;
	font-size: 24px;
}

#naslov1 img {
	position: absolute;
	left: 21px;
	top: 15px;
}

#col1 ul li a {
	float: left;
	width: 100%;
	height: 55px;
	line-height: 55px;
	list-style: none;
	display: block;
	color: rgb(184, 187, 191);
	font-weight: 600;
	text-decoration: none;
	margin-left:20px;
	border-bottom: 1px solid rgb(40, 46, 56);
}

#col1 ul li a:hover {
	width: 100%;
	border-top: 1px solid rgb(40, 46, 56);
	border-bottom: 1px solid rgb(40, 46, 56);
	background-color: rgb(68,78,92);
	margin: -1px 0px 0px 0px;
	padding-left: 20px;
}

#col1 ul li #inventura_col1 {
	width: 100%;
	border-top: 1px solid rgb(40, 46, 56);
	border-bottom: 1px solid rgb(40, 46, 56);
	background-color: rgb(68,78,92);
	margin: -1px 0px 0px 0px;
	padding-left: 20px;
}

#col1 ul li img {
	margin-left: 5px;
    padding-right: 16px;
}

#naslov2 {
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid rgb(58, 114, 165);
	padding-left: 21px;
	font-size: 22px;
}

#sort {

	width: 100%;
	height:25px;
	line-height: 23px;
	font-size:10px;
	background-color: transparent;
	border-top: 1px solid rgb(58, 114, 165);
	border-bottom: 2px solid rgb(58, 114, 165);

}

#sort div {
	position: relative;
	text-align: right;
	padding-right: 30px;
	color: rgb(124, 180, 204);
}


#sort img {
	position: absolute;
	left: 415px;
	padding:8px 0px 0px 10px;
}

#col2 a {
	text-decoration: none;	
}

#col2 ul li a {

	color:white;
	float: left;
	width: 194px;
	height: 50px;
	padding: 16px 0px 0px 31px;
	font-size:14px;
	font-weight: 600;
}

#col2 li {

	float: left;
	width: 100%;
	height: 66px;
	list-style: none;
	border-bottom: 1px solid rgb(58, 114, 165);

}


#col2 li p {
	padding: 8px 0px 0px 0px;
	font-size: 10px;
	font-weight: 600;
	color:rgb(124, 180, 204);
}

#col2 ul li a:hover {
	background-color: rgb(69,160,204);
}

#naslov3 {
	font-size: 36px;
	padding:66px 0px 30px 12px;

}

#save{
	position:absolute; 
	top:60px; 
	right: 20px;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	text-decoration:none;
	color: white;
	border:1px solid rgb(240,72,72);
	background-color: rgb(240,72,72);
	border-radius: 5px;
	height: 30px;
	line-height: 30px;
	width: 76px;
}

#t1, #t2 {
	border-top: 1px solid rgb(222,222,222);
	border-bottom: 1px solid rgb(222,222,222);
	width: 100%;
	padding-bottom: 50px; 
	background-color: rgb(242,242,242);
	margin-bottom: -1px;
}

#t1 th, #t2 th {
	text-align: left;
	padding:6px 0px 6px 30px;
	width: 33.33%;
	font-size: 10px;
	color: rgb(222,222,222);
}

#t1 td, #t2 td {
	padding:4px 0px 4px 30px;
	width: 33%;
	font-size: 12px;
	color: rgb(102, 102, 102);
	font-weight: 600;	
}

#last td{
	padding-bottom: 15px;
}

#t3 {
	width: 100%;
	margin-top: 47px;
	text-align: left;
}

#t3 tr {
	border-bottom: 1px solid rgb(234, 234, 234);
}

#t3 th {
	color:rgb(188,188,188);
	font-size: 12px;
	height: 38px;
	line-height: 38px;	
	padding-left: 11px;
}

#t3 td {
	font-size: 14px;
	color: rgb(102, 102, 102);
	height: 60px;
	padding:20px 0px 0px 20px;
}

#name {
	width:33%;
}

#exp {
	width:22%;
}

#st, #edit, #apply {
	width: 15%;
}


label {
	display: inline;

}

.regular-checkbox {
	display: none;
}

.regular-checkbox + label {

	background-color: white;
	border: 1px solid rgb(188,188,188);
	margin-left:4px;
	padding: 6px;
	border-radius: 3px;
	display: inline-block;
	position: relative;

}


.regular-checkbox:checked + label {
	background-color: rgb(59, 153, 252);
	border: 1px solid rgb(59, 153, 252);
	
}

.regular-checkbox:checked + label:after {
	color: white;
	content: "\2714";
	font-size: 10px;
	position: absolute;
	top: 1px;
	left: 2px;	
}
